# Build output directories
target/
!target/muleguard-1.0.0-jar-with-raks.jar
muleguardwrapper/target/*
!muleguardwrapper/target/muleguardwrapper-1.0.0-mule-application.jar
build/

# IDE specific files
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# OS specific files
.DS_Store
Thumbs.db

# Workspace and temporary files
workspace/
muleguard-reports*/
logs/
reports/
temp/
security_scan/
reference/

# Maven specific
dependency-reduced-pom.xml
.mule/
META-INF/

# Log files
*.log
